{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock style %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container">
    <div class="loginbox">
        <img class="avatar" src="{% static 'images/avatar.png' %}" alt="login logo">
        <h1>Login Here</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success ml-2" type="submit" value="Login">
        </form>

        <a class="" href="{% url 'password_reset' %}">Forgot your password?</a>
        <a href="{% url 'signup' %}">Don't have an account?</a>
    </div>
</div>

{% endblock content %}